name: amazon_book_dssm
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - numpy
  - pandas
  - scikit-learn
  - tqdm
  - pip
  - pytorch::faiss-gpu == 1.9.0
  - pytorch-gpu == 2.7.1
  - transformers == 4.57.3
  - sentence-transformers == 5.1.2