name: amazon_book_dssm
channels:
  - conda-forge
dependencies:
  - python=3.10
  - numpy
  - pandas
  - scikit-learn
  - tqdm
  - pip
  - pytorch::faiss-gpu
  - pip:
      - transformers
      - sentence-transformers